.actions {
  cursor: pointer;
  margin-right: 7px;
}

.list-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 27px;
}

.texto-tabla {
  font-size: 20px;
}
